@import url("https://fonts.cdnfonts.com/css/flicker-2");

@import url("https://fonts.cdnfonts.com/css/turpis");
@import url("https://fonts.cdnfonts.com/css/libertinus-mono");
@import url("https://fonts.cdnfonts.com/css/steamflix-montserrat");
@import url("https://fonts.cdnfonts.com/css/im-fell-english-sc");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #704c32;
}
/* főoldal */
img {
  max-width: 100%;
}
.üdvözlés {
  font-family: cursive;
  font-size: 7vw;
  z-index: 1;
  position: absolute;
  bottom: 10%;
  transform: translateX(-70%);
  font-family: "Flicker", sans-serif;
  padding: 3%;
  transition: all 0.2s ease-in-out;
}
.üdvözlés-háttér {
  font-size: 7vw;
  z-index: -1;
  position: absolute;
  bottom: 10%;
  transform: translateX(-70%);
  background: linear-gradient(
    90deg,
    hsla(34, 34%, 60%, 1) 20%,
    hsl(24, 38%, 27%) 120%
  );
  font-family: "Flicker", sans-serif;
  padding: 3%;
  border-radius: 0.8vw;
  transition: all 0.2s ease-in-out;
}
.cup-wrap {
  width: 27vw;
  height: 32.4vw;
  position: relative;
  left: 50%;
  top: 10%;
  transition: all 0.2s ease-in-out;
}

.cup {
  position: absolute;
  bottom: 0;
}

.smoke-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40%;
}

.smoke,
.smoke2,
.smoke3 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}

.smoke {
  animation: smoke1 3s linear infinite;
  animation-delay: 0.5s;
}

.smoke2 {
  animation: smoke2 3s linear infinite;
  animation-delay: 1.5s;
}

.smoke3 {
  width: 500px;
  animation: smoke3 4s linear infinite;
  animation-delay: 2.5s;
}

@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}

@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}

/* coffee-info */
p {
  font-size: 20px;
  font-family: "Steamflix Montserrat", sans-serif;
}

h2 {
  font-family: "Turpis", sans-serif;
}

/* menüpontok */
.menüpontok {
  background-color: #573c28;
  font-size: 3em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  position: absolute;
  color: azure;
  font-family: "Flicker", sans-serif;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.menüpontok:hover {
  background-color: hsl(25, 37%, 18%);
  transform: scale(1.1);
}
.menüpontok:active {
  transform: scale(0.95);
}
.cím {
  display: inline-block;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-decoration: none;
  color: azure;
}
.címlink {
  text-decoration: none;
  color: azure;
}
.jobb-f {
  top: 0;
  right: 0;
  margin-top: 1.5em;
  margin-right: 1.5em;
}
.jobb-a {
  bottom: 0;
  right: 0;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.bal-f {
  top: 0;
  left: 0;
  margin-top: 1.5em;
  margin-left: 1.5em;
}
.bal-a {
  bottom: 0;
  left: 0;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
@media only screen and (max-width: 1200px) {
  .jobb-f {
    top: 40%;
    margin-top: 0;
  }
  .bal-f {
    top: 40%;
    margin-top: 0;
  }
  .üdvözlés {
    font-size: 10vw;
  }
  .üdvözlés-háttér {
    font-size: 10vw;
  }
  .cup-wrap {
    width: 37.8vw;
    height: 45.36vw;
    top: 0;
  }
}
@media only screen and (max-width: 915px) {
  .menüpontok {
    font-size: 2em;
  }
}
@media only screen and (max-width: 400px) {
  .menüpontok {
    font-size: 1.5em;
  }
}
#box {
  text-align: center;
}
#kereső_háttér {
  background-color: rgb(98, 98, 98);
}
#terület table {
  border-collapse: collapse;
  font-size: 150%;
  font-family: san-serif;
  font-weight: bold;
  display: inline-block;
}
#terület table td {
  background-color: rgb(195, 195, 195);
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  border: 1px solid black;
}
button {
  width: 100px;
  height: 30px;
  background-color: rgb(195, 195, 195);
  color: black;
  font-weight: bolder;
  border-radius: 20px 20px 20px 20px;
}

/* navbar */
#neubar {
  background: #fae8d2;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
}

.nav-item .active {
  border-radius: 6px;
  background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
  box-shadow: 4px 4px 8px #ddc1a0, -4px -4px 8px #f7e5cc;
}
#neubar .dropdown-menu a:hover {
  color: #454545;
}
#neubar .nav-item {
  margin: auto 4px;
}
#neubar a {
  padding-left: 12px;
  padding-right: 12px;
}
#neubar .dropdown-menu {
  background: #545454;
}
a.navbar-brand {
  color: #454545;
}
.nav-link {
  font-size: 30px;
  font-family: 'IM FELL English SC', sans-serif;
}
